<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  Welcome goofy goober login
  <% if (locals.errors) { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } else if (locals.login_failed) { %>
   <p>Login failed. Please try again.</p>
  <% } %>

  <form action="/login" method="POST">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required/>
    <button type="submit">Sign me in</button>
  </form>
  <p>Need an account?</p>
  <a href="/signup">Signup</a>
</body>
</html>